* {
    box-sizing: border-box;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, Times, "Times New Roman", serif;
}

a {
    text-decoration: none;
    color: #777777;
}

.logo a {
    color: #fff;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: url("../images/circles-light.png")
}

.container {
    width: 960px;
    margin: 0 auto;
}


/* Header display styles */
.logo {
    padding: 1em;
    color: #fff;
    width: auto;
    background-color: #4aaaa5;
    display: inline-block;
    font-weight: bold;
    font-size: 26px;
}

header {
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-bottom: 1.5em;
    border-bottom: 2px solid #cccccc;
}

/* NavBar styling */
nav {
    display: inline-block;
    float: right;
}

nav ul li {
    float: left;
    padding: 0 1em;
    margin-top: 26px;
}

nav a:hover {
    color: #469e9b;
  }

/* CSS selector reference: https://www.w3schools.com/cssref/css_selectors.asp */
nav ul li ~ li {
    border-left: 1.25px solid #777777;
}

/* About Me and Contact Info */
.content {
    width: 960px;
    margin: 0 auto;
    clear: both;
}

#headshot {
    width: 250px;
    height: auto;
    padding-right: 1em;
    float: left;
}

.content h2 {
    font-size: 22px;
    font-weight: bold;
    color: #4aaaa5;
}

/* About Me section */
section {
    width: 650px;
    float: left;
    display: inline-block;
    color: #777777;
    line-height: 1.7;
    background-color: #ffffff;
    border-color: #dddddd;
    padding: 20px;
    margin-bottom: 1em;
    min-height: 550px;
}

/* Connect With Me section */
aside {
    text-align: center;
    width: 270px;
    display: inline-block;
    background-color: #ffffff;
    border-color: #dddddd;
    padding: 1em;
    line-height: 2;
    margin-left: 1em;
    margin-bottom: 1em;
}

aside ul li {
    float: left;
}

aside img {
    width: 75px;
    height: auto;
    padding: 0.5em;
}

aside h3 {
    color: #4aaaa5;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 4px;
}

/* form input element stylings */
input[type=text], input[type=email] {
    width: 100%;
    padding: 0.5em;
    margin: 0.25em 0;
    color: #777777;
    font-size: 90%;
    opacity: 0.7;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 0.5em 1.5em;
    font-size: inherit;
    margin-top: 0.5em;
}

textarea {
    width: 100%;
    padding: 0.5em;
    margin: 0.25em 0;
    border-color: rgb(238, 238, 238);
    height: 200px;
    font-size: 16px;
    resize: none;
    overflow: scroll;
}

/* Portfolio (image gallery) */
section > ul {
    margin-left: 20px;
}

section li {
    float: left;
    margin: 1em;
    width: 250px;
    height: 200px;
}

section h3 {
    color: black;
    text-align: center;
    padding: 1em;
    background-color: #4aaaa5;
    color: white;
    position: relative;
    bottom: 67px;
    width: 100%;
}

/* Footer */
footer {
    width: 100%;
    font-size: 12px;
    color: lightgrey;
    padding: 2.5em;
    text-align: center;
    background-color: #666666;
    clear: both;
}

footer,
.push {
    height: 72px;
}

.wrapper {
    height: auto !important;
    height: 100%;
    min-height: 100%;
    margin: 0 auto -72px auto;
  }

  section hr {
      margin-bottom: 1em;
  }

/* Media queries for screens smaller than 980px, but larger than 769px */
@media screen and (max-width: 980px) and (min-width: 769px) {
    .container,
    .content {
        width: 75%;
    }

    section {
        width: 60%;
    }

    section > ul {
        margin-left: 15px;
    }

    section li {
        float: left;
        margin: 1em 3.5em 1em;
    }

    nav {
        margin-right: 10px;
    }

    nav a {
        vertical-align: sub;
    }

}

/* Media queries for screens smaller than 768px */
@media screen and (max-width: 768px) {
    aside {
        float: none;
        clear: both;
        width: 95%;
        display: block;
        margin: 1em auto 0 auto;
        height: 175px;
        margin-bottom: 1.5em;
    }

    nav {
        margin-right: 10px;
    }

    nav a {
        vertical-align: sub;
    }

    .content {
        width: 95%;
    }

    .container {
        width: 100%;
    }

    section {
        width: auto;
        display: block;
        margin: 0 auto;
        float: none;
        overflow: hidden;
        width: 96%;
    }

    section hr {
        margin-bottom: 1em;
    }

    aside {
        width: 95%;
    }

    aside ul {
        display: inline-block;
    }
}

/* Media queries for screens smaller than 640px */
@media screen and (max-width: 640px) {

    header {
        margin: auto;
        position: static;
    }

    .logo {
        width: 100%;
        text-align: center;
    }

    #headshot {
        float: none;
        width: 95%; 
        padding-right: unset;
        margin: 0 auto;
    }

	nav	{
		clear: both;
		width: 100%;
		text-align: center;
		float: none;
        border-bottom: none;
        background-color: #fff;
        margin-bottom: 1.5em;
    }

    nav ul li {
        width: 32%;
        float: none;
        display: inline-block;
    }

    .container {
        width: 100%;
    }

    aside {
        text-align: center;
        width: 95%;
    }

    section {
        width: 95%;
        margin-top: 1em;
    }

    section li {
        float: none;
        width: auto;
        height: auto;
    }

    section li img {
        width: 100%;
    }

    .content h3 {
        width: 100%;
    }

    aside h3 {
        width: auto;
    }

    section hr {
        margin-bottom: 1em;
    }
}