* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, Times, "Times New Roman", serif;
}

a {
    text-decoration: none;
    color: #777777;
}

body {
    width: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: url("../images/circles-light.png")
}

.container {
    width: 960px;
    margin: 0 auto;
}


/* Header display styles */
.logo {
    padding: 1em;
    color: #fff;
    width: auto;
    background-color: #4aaaa5;
    display: inline-block;
    font-weight: bold;
    font-size: 26px;
}

header {
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-bottom: 1.5em;
    border-bottom: 2px solid #cccccc;
}

/* NavBar styling */
nav {
    display: inline-block;
    float: right;
}

nav ul li {
    float: left;
    padding: 0 1em;
    margin-top: 26px;
}

/* CSS selector reference: https://www.w3schools.com/cssref/css_selectors.asp */
nav ul li ~ li {
    border-left: 1.25px solid #777777;
}

/* wrapper for About Me and Contact Info */
.content {
    width: 960px;
    margin: 0 auto;
    clear: both;
    padding-bottom: 100px;
}

#headshot {
    width: 250px;
    height: auto;
    padding-right: 1em;
    float: left;
}

.content h2 {
    font-size: 22px;
    font-weight: bold;
    color: #4aaaa5;
}

/* About Me section */
section {
    width: 650px;
    float: left;
    display: inline-block;
    color: #777777;
    line-height: 1.7;
    background-color: #ffffff;
    border-color: #dddddd;
    padding: 20px;
    margin-bottom: 100px;
    min-height: 550px;
}

/* Connect With Me section */
aside {
    text-align: center;
    width: 270px;
    float: right;
    background-color: #ffffff;
    border-color: #dddddd;
    padding: 20px;
    line-height: 2;
}

aside ul li {
    float: left;
}

aside img {
    width: 75px;
    height: auto;
    padding: 0.5em;
}

aside h3 {
    color: #4aaaa5;
    font-size: 18px;
    font-weight: bold;
}

/* form input element stylings */
input[type=text], input[type=email] {
    width: 100%;
    padding: 0.5em;
    margin: 0.25em 0;
    color: #777777;
    font-size: 90%;
    opacity: 0.7;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 0.5em 1.5em;
    font-size: inherit;
    margin-top: 0.5em;
}

textarea {
    width: 100%;
    padding: 0.5em;
    margin: 0.25em 0;
    border-color: rgb(238, 238, 238);
    height: 200px;
    font-size: 16px;
    resize: none;
    overflow: scroll;
}

/* Portfolio (image gallery) */
section li {
    float: left;
    height: 248px;
}

section a > img {
    padding: 1em;
}

section h3 {
    color: black;
    text-align: center;
    padding: 1em 3em;
    margin: 0 1em;
    background-color: #4aaaa5;
    color: white;
    position: relative;
    bottom: 82px;
}

/* Footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    color: lightgrey;
    padding: 2.5em;
    text-align: center;
    background-color: #666666;
}

@media screen and (max-width: 980px) {
    aside {
        float: none;
        clear: both;
        width: 650px;
        display: block;
        margin: 1em auto 0 auto;
        height: 175px;
    }

    section {
        display: block;
        margin: 0 auto;
        float: none;
        overflow: hidden;
    }

    aside ul {
        display: inline-block;
    }
}